@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #09090b;
  color: #ffffff;
}
@layer utilities {
  .animate-enter {
    animation: enter 0.6s cubic-bezier(0.16, 1, 0.3, 1) forwards;
  }
}

@keyframes enter {
  0% {
    opacity: 0;
    transform: translateY(20px); /* Starts slightly lower */
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}